/*
        COLOR PALETTE
    Off-white       #F6F6F6
    Ivory           #EDE7DC
    Sand Dollar     #DCD2CC
    Dusty Rose      #CCAFA5
    Gray            #BDC3CB
    Cool Gray       #4E4F50
    Blue Gray       #647C90
    Benjamin Moore  #2b2c2d
    Chinese Violet  #846B8A
*/

/* GLOBAL STYLES
------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Set default font size to 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  line-height: 1.4;
}
h1,
h2,
h3 {
  font-family: "M PLUS 1 Code", serif;
  margin: 0;
}
h1 {
  font-size: 7rem;
  line-height: 1.3;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}

/* links */
a {
  color: #4e4f50;
}
a:hover {
  color: #846b8a;
}
footer a {
  color: #4e4f50;
}
footer a:hover {
  color: #647c90;
}
.btn {
  background: #647c90;
  color: #ede7dc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 10px;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}

/* HOME
------------------------------------*/
.home {
  background: url(../images/bg-home-office-studio.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.content-bg {
  background: rgb(255 255 255 / 0.5);
  padding: 30px;
}
@media screen and (max-width: 650px) {
  .home .content-wrapper {
    padding: 10px;
  }
  .content-bg {
    padding: 20px;
  }
}

/* RESUME
------------------------------------*/
.resume header::before {
  background: url(../images/bg-home-office-studio.jpg) center;
  content: "";
  display: block;
  height: 375px;
  background-size: cover;
}
.resume-section {
  margin-bottom: 50px;
}
.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}
.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 1.3rem;
}
@media screen and (max-width: 1200px) {
  .download-link {
    position: absolute;
  }
}
@media screen and (max-width: 500px) {
  .resume header::before {
    height: 200px;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}

/* Projects
------------------------------------*/
.project-item {
  margin: 30px 0;
}
.project-item img {
  width: 300px;
}
@media screen and (min-width: 860px) {
  .project-item {
    display: flow-root;
    margin: 30px 0;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
}
@media screen and (min-width: 650px) and (max-width: 859px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .project-item img {
    width: 160px;
  }
}
@media screen and (max-width: 500px) {
  .project-item img {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Work Experience
------------------------------------*/
.work-item {
  margin: 3rem 0;
}
.work-details {
  margin: 0;
}
@media screen and (min-width: 860px) {
  .work-item {
    .work-item {
      display: grid;
      grid-template-columns: 300px 1fr;
      column-gap: 25px;
    }
  }
  .work-summary p:first-child {
    margin-top: 3rem;
  }
}

/* Education
------------------------------------*/
.education-item {
  margin: 3rem 0;
}
.education-item p {
  margin: 0;
}

/* FOOTER
------------------------------------*/
footer {
  background: #2b2c2d;
  color: #ede7dc;
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 15px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 0.5;
}
/* min-width = 510px and larger */
@media screen and (min-width: 510px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
/* max-width = 509px and smaller */
@media screen and (max-width: 509px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}
